<div class="container">
  <div class="row">
    <ul class="list-group w-100">
      <li class="list-group-item active">Addhoc Task</li>
      <li class="list-group-item">
        •	Create a responsive form. It should have responsive grid with inline editing feature. He can use various data types for each column.
        <br>
        •	Design should work on various size screens.

        <!-- <i class="fa fa-address-card fa-5x"></i>
        <i class="fa fa-id-card-o fa-5x"></i>
        <i class="fa fa-user-circle-o fa-5x"></i>
        <i class="fa fa-home fa-5x"></i> -->
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
