<div class="row">
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Gender</th>
          <th class="text-center">Salary</th>
          <th class="text-center">DOJ</th>
          <th class="text-center"></th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let avg of avengerData | async">
          <td class="text-center">
            <input
                type="text"
                required
                [ngClass]="[isValidFormsControlName ? 'border border-info' : 'border border-danger']"
                class="form-control"
                [value]="avg.Name"
                [(ngModel)]="avg.Name"
              />
          </td>
          <td class="text-center">
            <select
                id="Gender"
                required
                [(ngModel)]="avg.Gender"
                class="form-control border border-info"
              >
                <option
                  *ngFor="let op of genderList"
                  [value]="op.id"
                  [attr.selected]="avg.Gender"
                  >{{ op.name }}</option
                >
              </select>
          </td>
          <td class="text-center">
            <input
                type="number"
                required
                min="0"
                step="1"
                class="text-center form-control"
                [value]="avg.Salary"
                [ngClass]="[isValidFormsControlSalary ? 'border border-info' : 'border border-danger']"
                [(ngModel)]="avg.Salary"
              />
           </td>
          <td class="text-center">
            <input
                type="date"
                required
                class="form-control text-center border border-info"
                [value]="avg.DOJ"
                [(ngModel)]="avg.DOJ"
              />
            </td>
          <td class="text-center">
            <button class="btn btn-primary" (click)="updateRec(avg)">Update</button>
          </td>
          <td class="text-center">
            <button class="btn btn-primary" (click)="deleteRec(avg)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot class="bg-dark">
          <tr>
            <td>
              <input
                type="text"
                required
                [ngClass]="[isValidFormsControlName ? 'border border-info' : 'border border-danger']"
                class="form-control"
                [(ngModel)]="insertVal.Name"
              />
            </td>
            <td>
              <select
                id="Gender"
                required
                [(ngModel)]="insertVal.Gender"
                class="form-control border border-info"
              >
                <option
                  *ngFor="let op of genderList"
                  [value]="op.id"
                  [attr.selected]="insertVal.Gender"
                  >{{ op.name }}</option
                >
              </select>
            </td>
            <td>
              <input
                type="number"
                required
                min="0"
                step="1"
                class="text-center form-control"
                [ngClass]="[isValidFormsControlSalary ? 'border border-info' : 'border border-danger']"
                [(ngModel)]="insertVal.Salary"
              />
            </td>
            <td>
              <input
                type="date"
                required
                class="form-control text-center border border-info"
                data-date-format="DD MMMM YYYY"
                [(ngModel)]="insertVal.DOJ"
              />
            </td>
            <td class="text-center">
              <button class="btn btn-primary" (click)="addRecord()">&nbsp;Insert&nbsp;</button>
            </td>
            <td class="text-center">
              <button class="btn btn-primary" (click)="clearRec()">&nbsp;Clear&nbsp;</button>
            </td>
          </tr>
      </tfoot>
    </table>
  </div>
</div>
